<!DOCTYPE html>
<html lang="en-US">

    {% include 'head.twig' with { 
        naam: 'Homepage'     
    }%} 

<body class="ltr">
    <header>
        <div class="topnav" id="myTopnav">
            {% for navItem in navigation.linkGroup.all() %}
            <ul class="active">
                {{ navItem.customLink.getLink({ class: 'nav-link' }) }}
            </ul>
            {% endfor %}
        </div>
    </header>
    <div class="center">
        <div id="image">
            <div id="main">
                <div class="content">
                    {% set previewImage = entry.previewImage.one() %}

                    <img src="{{ previewImage.getUrl('') }}" alt="{{ previewImage.title }}">

                </div>
            </div>

        </div>
    </div>
</body>

</html>