{% extends "html.twig" %}

{% set docTitle = 'Homepage' %}

{% set bodyAttributes = {
class: 'ltr'
} %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block header %}
{{ parent() }}
{% endblock %}


{% block body %}


<div class="grid-container ">
    {% set nieuwspagina = craft.entries()
    .section('nieuwspagina')
    .limit(10)
    .orderBy('')
    .all() %}

    {% for tekst in nieuwspagina %}

    <div class="card">
        <figure class="card__figure"> </figure>
        <div class="card__body">
            <h2>
                {{ tekst.title }}
            </h2>
            {{ tekst.nieuwspaginatekst }}
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}