<!DOCTYPE html>
<html lang="en-US">

{% include 'head.twig' with {
naam: 'SubmenuContact'
}%}

<body class="ltr">
    <header id="myTopnav">
        <div class="topnav" id="myTopnav">
            {% for navItem in navigation.linkGroup.all() %}
            <ul class="active">
                {{ navItem.customLink.getLink({ class: 'nav-link' }) }}
            </ul>
            {% endfor %}
        </div>
    </header>
    <div id="grid-container">
        <div id="styling">
            <div id="main">
                <div class="content">
                    <h1>
                        {{ entry.title }}
                    </h1>
                    <p> {{ entry.submenutekst}}</p>
                </div>
            </div>
        </div>
        <div id="styling">
            <div class="content">   
                {% set form = craft.formie.forms.handle('emailer').one() %}             

               {{ craft.formie.renderForm('emailer') }}

            </div>
        </div>
    </div>
</body>

</html>

