{% extends "html.twig" %}

{% set docTitle = 'Homepage' %}

{% set bodyAttributes = {
class: 'ltr'
} %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block header %}
{{ parent() }}
{% endblock %}


{% block body %}
<div class="grid-container ">
    <div class="Mailer">
        {% set form = craft.formie.forms.handle('emailer').one() %}
        {{ craft.formie.renderForm('emailer') }}
    </div>
</div>


{% endblock %}