{% extends "html.twig" %}

{% set docTitle = 'Homepage' %}

{% set bodyAttributes = {
class: 'ltr'
} %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block header %}
{{ parent() }}
{% endblock %}


{% block body %}
<div class="grid-container">
    <div class="formulier">
        <div class="loader__wrapper hidden" id="loader__wrapper">
            <div class="loader"></div>
        </div>
        <div id="formulier"> {% set form = craft.formie.forms.handle('emailer').one() %}
            {{ craft.formie.renderForm('emailer') }}
        </div>
    </div>
</div>

<script>
    (() => {
        const fields = Array.from(document.querySelectorAll('[name="fields[dsfsdfas]"],[name="fields[firstname]"], [name="fields[lastname]"], [name="fields[emailAdres]"], [name="fields[laatEenBerichtAchter]"]'));
        const Submit = Array.from(document.querySelectorAll('[data-submit-action="submit"]'));
        Submit.forEach(e => e.disabled = true)
        fields.forEach((a) => a.addEventListener('change', () => {
            if (fields.filter(field => field.value).length === fields.length) {
                Submit.forEach(e => e.disabled = false)
                // functie 
                Submit.forEach((a) => a.addEventListener('click', () => {
                    document.getElementById("loader__wrapper").classList.remove('hidden')
                    fields.forEach(element => element.hidden = true)
                }))
            } else {
                Submit.forEach(e => e.disabled = true)
            }
            fields.forEach(element => element.disabled = false)
        }))
    }
    )();
</script>
{% endblock %}