html,
body {
    -webkit-text-size-adjust: 100%;
    min-height: 100vh;
    font-family: system-ui, BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(212, 60%, 97%);
    color: hsl(209, 18%, 30%);
    position: relative;
}

h1 {
    margin-top: 0;
}

h2 {
    margin-top: 1.5em;
    font-size: 1rem;
}

h2:first-child {
    margin-top: 0;
}

p {
    line-height: 1.4em;
    margin-top: 1.4em;
}

ul {
    line-height: 1.3em;
    padding-left: 20px;
    margin-top: 0;
}

ul li {
    margin-top: 0.35em;
}

a {
    color: #f8fafc;
    text-decoration: none;
}

a:link {
    color: #f2f2f2;
}

a:hover {
    text-decoration: none;
}

.go {
    color: #0B69A3;
}

.go:after {
    padding-left: 4px;
    content: '→';
    text-decoration: none !important;
}

small {
    color: hsl(211, 11%, 59%);
}

code {
    display: inline-block;
    color: #EF4E4E;
    padding: 0 2px;
    background: hsl(212, 60%, 97%);
    border-radius: 3px;
    line-height: 1.3;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9em;
}


.mainContent {
    margin: 5px;
    padding: 35px;
    padding-left: calc(35px + env(safe-area-inset-left));
    padding-right: calc(35px + env(safe-area-inset-right));
}

.container {
    display: flex;
}


.grid-container {
    display: grid;
    margin: 4rem;
    height: auto;
    width: auto;
    justify-content: center;
    grid-template-columns: repeat(3, 4fr);
    flex-grow: 1;
}

.grid__item {
    background: white;
    padding: 1.5em;
}


.styling {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 50px;
    border-radius: 4px;
    overflow: auto;
    box-shadow: 0 25px 100px rgba(0, 0, 0, 0.5);
}

img {
    max-width: 100%;
    padding: 1.8rem;
}

.button {
    background-color: #443cd6;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    width: 10rem;

    display: inline-block;
    font-size: 16px;

}

.image {
    flex-grow: 1;
    display: flex;
    margin: 25px;
    padding: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    margin: 1.5rem;
    box-shadow: 0 25px 100px rgba(0, 0, 0, 0.5);
    background: #fff;
    border-radius: 4px;

}

.card__body {
    display: flex;
    flex-direction: column;
}


.formulier {
    position: relative;
    display: flex;
    width: fit-content;
    max-width: 20rem;
    padding: 50px;
    margin: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    overflow: auto;
    box-shadow: 0 25px 100px rgba(0, 0, 0, 0.5);
    background: #fff;
}



.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #030303;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader__wrapper {
    position: absolute;
    inset: 0;
    background: white;
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__wrapper.hidden {
    display: none
}



/* navigation topbar */

/* Add a black background color to the top navigation */
.topnav {
    background-color: grey;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    bottom: auto;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* navigation bottombar */

/* Add a black background color to the top navigation */
.bottomnav {
    background-color: grey;
    overflow: hidden;
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 0;
    justify-content: center;
}

/* Style the links inside the navigation bar */
.bottomnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.bottomnav a:hover {
    background-color: #ddd;
    color: black;
}